
@font-face {
  font-family: "UnitedSansCdHv";
  font-weight: normal;
  font-style: normal;
  src: url('fonts/UnitedSansCdHv.eot');
  src: url('fonts/UnitedSansCdHv.eot?#iefix') format('embedded-opentype'), url('fonts/UnitedSansCdHv.woff') format('woff'), url('fonts/UnitedSansCdHv.ttf') format('truetype'), url('fonts/UnitedSansCdHv.svg#UnitedSansCdHv') format('svg'); }

@font-face {
  font-family: "UnitedSansSmCdHv";
  font-weight: normal;
  font-style: normal;
  src: url('fonts/UnitedSansSmCdHv.eot');
  src: url('fonts/UnitedSansSmCdHv.eot?#iefix') format('embedded-opentype'), url('fonts/UnitedSansSmCdHv.woff') format('woff'), url('fonts/UnitedSansSmCdHv.ttf') format('truetype'), url('fonts/UnitedSansSmCdHv.svg#UnitedSansSmCdHv') format('svg'); }

@font-face {
  font-family: "UnitedSansRgMd";
  font-weight: normal;
  font-style: normal;
  src: url('fonts/UnitedSansRgMd.eot');
  src: url('fonts/UnitedSansRgMd.eot?#iefix') format('embedded-opentype'), url('fonts/UnitedSansRgMd.woff') format('woff'), url('fonts/UnitedSansRgMd.ttf') format('truetype'), url('fonts/UnitedSansRgMd.svg#UnitedSansRgMd') format('svg'); }


/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*

Colors

red: #d31346;
light red: #e04871;

blue: #00549d;
light blue: #4380b7;

*/

body,
.page {
    position:relative;
    padding:0;
    margin:0;
    background: #fff;
    font-family:'UnitedSansRgMd','Georgia',serif;
}
.header{
    width: 100%;
    z-index: 100;
    background: #00549d;
    padding: 0;
    margin: 0;
    color: #fff;
    font-family:'UnitedSansCdHv','Georgia',serif;
    overflow:hidden;
}
.header h1{
    margin: 0;
    padding: 1em;
    display:block;
    font-size: 1em;
    white-space: nowrap;
    color:#fff;
}
.menu-toggle {
    cursor: pointer;
    /*color:#fff;*/
    /*padding: 25px;*/
    width: 4em;
    height: 3em;
    /*background: #45545F;*/
    text-indent: -999em;
    margin: 0;
    z-index: 500;
    float:left;
    position:relative;
}
.menu-toggle:after {
    content:'';
    display: block;
    position:absolute;
    top: .25em;
    left: .1em;
    width: 1em;
    height: 0.125em;
    font-size: 2em;
    border-top: 0.375em double #fff;
    border-bottom: 0.125em solid #fff;
    margin: .25em .2em;
}
#mmenu .mm-list a.mm-subopen {
    width: 100%;
}
/*#mmenu .mm-list .quiz a.mm-subopen {
    width: 3em;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}*/
.mm-list > li.active {
    background: rgba(0, 0, 0, 0.1); 
}
/* animate these */
.options,
.content dt,
.button,
.word {
  -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;

}

.options_toggle {
    position:absolute;
    top: .5em;
    right: .5em;
    width: 3em;
    height: 2.25em;
    background:#333;
    cursor: pointer;
    color:#fff;
    padding: 0;
    text-indent: -999em;
    display: block;
    z-index:10;
    display:none;
}
.options_toggle:after {
    content:'';
    position:absolute;
    top: 0em;
    left: 0;
    width: 1em;
    height: 0.125em;
    font-size:2em;
    border-top: 0.375em double #fff;
    border-bottom: 0.125em solid #fff;
    margin: .25em .25em;
}
.options_toggle:hover {
    background: #37434b;
}

.options{
    position:absolute;
    top:-100%;
    width:100%;
    background: #1166aa;
    padding: 2em;
    z-index:1;
    color:#fff;
    font-family:'UnitedSansCdHv','Georgia',serif;
    display:none;
}
.options .option{
    clear:both; 
    overflow:hidden;
}
.options h3{
    float:left;
    margin: 1em;
}
.options select {
    float:left;
    margin: 1em;
}
.options.active {
    top:0;
}

.content h1 {
    font-family:'UnitedSansCdHv','Georgia',serif;
    padding:.5em;
}
.content dt {
    display:block;
    cursor: pointer;
    padding: 1em;
    background: #eee;
    border-bottom: 1px solid #1166aa;
    font-family:'UnitedSansCdHv','Georgia',serif;
}
.content dt:hover,
.content dt.active,
.content dt:active{
    background: #fff;
}
.content dd {
    margin:0;
    background: #fff;
    padding: 1em 1em 2em;
    display:block;
    border-bottom: 8px solid #1166aa;
    font-family: 'Arial', sans-serif;
    overflow:hidden;
}
.content dd .button {
    float:right;
}
.about-content {
    padding: 1em 2em;
}

body
body.font- {
    font-size: 16px;
}
body.font-large {
    font-size: 22px;
}
body.font-small {
    font-size: 12px;
}

.button {
    border: 1px solid rgba(0,0,0,.33);
    border-width: 0 1px 1px 0;
    border-radius: 1em;
    background: #3366ee;
    color: #fff;
    text-transform: uppercase;
    padding: .5em 2em;
    display: block;
    width:auto;
    margin: 2em 1em 1em;
    float:left;
    cursor: pointer;
    clear:both;
}
.button:hover,
.button:active{
    background: #3333ff;    
}

.word {
    background: #fff;
    display: inline-block;
    padding: .5em 1em;
    border: 1px solid #1166aa;
    border-radius: 1em;
    margin: .5em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.content .ordered {
    background: #1166aa;
    padding:.5em;
    overflow:hidden;
    line-height:.66em;
}
.ordered .word {
    background: #1166aa;
    color: #fff;
    margin: 0;
    border-radius:0;
    padding: .5em .25em;
}
.ordered .word.current {
    background: rgba(255,255,255,.5);
}
.unordered .word {
    cursor: pointer;
}
.unordered.empty {
    padding:0;
    height:0;
    border: 0;
    margin: -.5em 0;
}
.word:active,
.word:focus,
.word.hint {
    background:#1166aa;
    color:#fff;
}
.sub-title{
    font-family:'UnitedSansCdHv','Georgia',serif;
    padding: .66em;
    font-weight: normal;
    margin: 0;
}
.verse_label {
    /*background: #1166aa;*/
    border-radius: 1em;
    display: inline-block;
    padding: .5em 0em;
    margin: .5em .25em;
    text-align:center;
    color:#1166aa;
}
.ordered .verse_label {
    /*background: #eee;*/
    color: #fff;
    padding: .5em 0;
}


.question {
    font-family:'UnitedSansCdHv','Georgia',serif;
    text-transform: uppercase;
    font-size: 36px;
    text-align:center;
    /*color: #4380b7;*/
}
.question_bio {
    font-family:'UnitedSansSmCdHv','Georgia',serif;
    font-size: 18px;
    text-align:left;
    text-transform: none;
    padding: 0 1em;
}
.answer {
    width: 50%;
    float:left;
    position:relative;
}
.answer img {
    width: 100%;
    height: auto;
}
.answer .label {
    font-family:'UnitedSansSmCdHv','Georgia',serif;
    text-transform: uppercase;
    position:absolute;
    bottom: 10%;
    left:0;
    width: 100%;
    background: #00549d;
    color:#fff;
    font-size: 24px;
    padding: 8px 0;
    text-align:center;
    border-bottom: 12px solid #d31346;
}
.score{
    font-family:'UnitedSansSmCdHv','Georgia',serif;
    font-size: 18px;
    text-align:left;
    text-transform: none;
    padding: 1em;
    color: #4380b7;
    clear:both;
}