<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.circlecube.usmntsoccerroster"
        versionCode="410" 
        version   = "0.4.1">

    <name>USA SOCCER TEAM</name>

    <description>
        Do you know the top American Soccer Players? Take this quiz to find out if you know all the current and historic players!

        Get to know the US Soccer Gold Cup Team! This app displays the full soccer/football roster for the US Men's National Team. Learn details about these world class players. Select different rosters, such as the World Cup 2014, Gold Cup 2013 and Gold Cup 2015, as well as hall of famers! A must have for any American Outlaw.

        "Great resource to learn more about the players while you watch the matches!"

        I BELIEVE THAT WE CAN WIN!
    </description>

    <author href="http://circlecube.com" email="evan@circlecube.com">
        Evan Mullins 
    </author>
    <gap:platform name="android" />
    <gap:platform name="ios" />
    <preference name="android-minSdkVersion" value="11" />
    <preference name="android-targetSdkVersion" value="14" />
    <gap:plugin name="nl.x-services.plugins.socialsharing" />
    <gap:plugin name="com.adobe.plugins.gaplugin" />
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="portrait"/>
    <preference name="fullscreen" value="true" />
    <icon src="icon-large.png" />
    <preference name="permissions" value="none"/>
</widget>
<!--
    update id - usmntsoccerroster - usmntsoccerrosterfree
    update name - WORLD CUP USA SOCCER TEAM - WORLD CUP USA SOCCER TEAM Free
    update icon - icon-large.png - icon-large-free.png

	main.js
    free_version - false - true
-->
